.Fondo-azul {
	background:blue;
}
.Fondo-verde {
	background:green;
}
.Fondo-naranja {
	background:orange;
}
.Fondo-negro {
	background:black;
}
.Fondo-rojo {
	background:red;
}
.Fondo-amarillo {
	background:yellow;
}
.Fondo-blanco {
	background:white;
}
.Fondo-gris {
	background: #F0F0F0;
}








